<div class="col-12 colusersprofile">
    <div class="card">
        <img src="assets/images/posts/cover.jpg" alt="Cover of User" class="card-img-top imgcover" />
        <div class="card-body">
            <div class="col-12">
                <div class="row mx-auto">
                    <div class="col-12 col-md-6 col-lg-1 coluproavatar">
                        <img src="assets/images/avatars/user.jpg" alt="Luis Carvalho" class="img-fluid imgavatar img-rounded" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-10 coluprotxt">
                        <p>Luis Carvalho</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>